asgiref==3.7.2
cffi==1.16.0
channels==4.0.0
cryptography==42.0.5
dj-database-url==2.1.0
Django==5.0.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.9.0
